* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.btns {
    width:500px;
    height:150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
}

.btn {
    background-color: black;
    color: white;
    padding:10px 25px;
    border-radius: 30px;
    border: none;
    display: inline;
    cursor: pointer;
    transition: transform 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;
}

.btn:hover {
    transform: scale(1.2);
}

.btns:has(.btn:hover) .btn:not(:hover) {
    transform: scale(0.8);
    opacity: 0.8;
    filter: blur(4px);
}
